// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&family=Roboto:wght@300&display=swap');
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// ======================================
@import "./_nullstyle.scss";
@import "./_vars.scss";
// ======================================

html, body{
    @include adaptiv-font(18, 12);
    font-family: sans-serif;
    background: $fon;
}

button {
    background: $button;
    color: #fff;
    outline: none;
    @include adaptiv-font(20, 14);
    border: 2px solid $but-hover;
    border-radius: 8px;
    padding: 8px 15px;
    box-shadow: 4px 4px grey;
    transition: all ease .15s;
    &:hover {
        background: $but-hover;
        // box-shadow: 4px 4px grey;
    }
    &:active {
        box-shadow: 2px 2px grey;
        background: $but-active;
    }
}
p{
    margin-bottom: 15px;
}
.contains {
    max-width: 1000px;
    margin: 20px auto;
}
.collapse{
    display:grid;
    transition: all ease .8s;
    grid-template-rows: 1fr;
    padding: 10px;
    &.hide {
        grid-template-rows: 0fr;
        padding: 0px;
    }
}
.collapse>div{
    overflow: hidden;
}
.bg-fon{
    background: $bg-fon;
    border-radius: 8px;
    margin: 10px 0;
}